azure-cli==2.0.22
azure-cli-acr==2.0.15
azure-cli-acs==2.0.19
azure-cli-advisor==0.1.1
azure-cli-appservice==0.1.20
azure-cli-backup==1.0.6
azure-cli-batch==3.1.7
azure-cli-batchai==0.1.4
azure-cli-billing==0.1.6
azure-cli-cdn==0.0.10
azure-cli-cloud==2.0.10
azure-cli-cognitiveservices==0.1.9
azure-cli-command-modules-nspkg==2.0.1
azure-cli-component==2.0.8
azure-cli-configure==2.0.12
azure-cli-consumption==0.1.6
azure-cli-container==0.1.13
azure-cli-core==2.0.22
azure-cli-cosmosdb==0.1.15
azure-cli-dla==0.0.15
azure-cli-dls==0.0.18
azure-cli-eventgrid==0.1.5
azure-cli-extension==0.0.6
azure-cli-feedback==2.0.6
azure-cli-find==0.2.7
azure-cli-interactive==0.3.11
azure-cli-iot==0.1.14
azure-cli-keyvault==2.0.14
azure-cli-lab==0.0.13
azure-cli-ml==0.1.0a27.post3
azure-cli-monitor==0.0.12
azure-cli-network==2.0.18
azure-cli-nspkg==3.0.1
azure-cli-profile==2.0.15
azure-cli-rdbms==0.0.9
azure-cli-redis==0.2.10
azure-cli-reservations==0.1.1
azure-cli-resource==2.0.18
azure-cli-role==2.0.14
azure-cli-servicefabric==0.0.6
azure-cli-sf==1.0.8
azure-cli-sql==2.0.15
azure-cli-storage==2.0.19
azure-cli-vm==2.0.18
azure-ml-api-sdk